body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    overflow:hidden;
	background-color: black;
}
canvas {
	width:100vw;
	height:100vh;
	display:block;
	position: absolute;
	top: 0;
	left: 0;
}
#program {
	position:absolute;
	bottom:10px;
	left: 10px;
	display:flex;
	flex-direction: row;
}
.task {
	white-space: nowrap;
	padding:10px;
	margin:2px;
	border-radius: 8px;
	border: 3px solid;
	border-color: #fff5 #0005 #0005 #fff5;
}
.metal {
	outline: none;
	color: #333;
	text-shadow: #6668 -1px -1px 1px, #fff9 0 2px 1px;
	background-color: hsl(0,0%,90%);
	background-image: repeating-linear-gradient(90deg, #aaa5 0%, #ccc5 1%, #bbb5 1.5%),
		repeating-linear-gradient(80deg, #aaa5 0%, #ccc5 5%, #bbb5 7%),
		linear-gradient(180deg, hsl(0,0%,78%)  0%, #eee 47%,#ccc 53%,#bbb 100%);

}
.btn {
	transition: color .2s;
	font: bold 1rem sans-serif;
	text-align: center;
	vertical-align: middle;
	border-radius: 0.3rem;
	width:3rem;
	height:2.5rem;
	margin:4px;
	box-shadow:
		-2px -2px 2px #0003,
		2px 2px 2px #fff8;
	cursor: pointer;
}
.btn:not(.active):hover {
	color:var(--s);
}
.btn.fit {
	width:auto;
}
.large {
	width:6rem;
}
.powerdown {
	--c:#f00;
	--s:#f008;
}
.boost {
	--c:#0a0;
	--s:#0a08;
}
.move {
	--c:#33f;
	--s:#33f8;
}
.audio {
	--c:#f93;
	--s:#f938;
}
.active {
	color:var(--c);
	border-color:var(--c);
	text-shadow: var(--s) 0 0 5px,#6668 -1px -1px 1px, #fff9 0 2px 1px;
	box-shadow:
		-2px -2px 2px #0003,
		2px 2px 2px #fff8,
		inset 2px 2px 3px -1px #0008;
}