body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    overflow:hidden;
	background-color: black;
}
canvas {
	width:100vw;
	height:100vh;
	display:block;
	position: absolute;
	top: 0;
	left: 0;
}
#program {
	position:absolute;
	top:10px;
	right: 0px; 
	width: 100px;
	color:#fff;
	white-space: nowrap;
}
.metal {
	outline: none;
	
	font: bold 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	
	background-color: hsl(0,0%,90%);
	-box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	  inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	  inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	  inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
	  
	  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	  hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
	background-image: 
	  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
	  hsl(0,0%,90%) 47%, 
	  hsl(0,0%,78%) 53%,
	  hsl(0,0%,70%)100%);
	transition: color .2s;
  }